deploy/n8n/workflows/orchestrator-ai-feature-delivery-v0.json
{
  "name": "orchestrator-ai-feature-delivery-v0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator-feature-intake",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "5a6d7f9c-7f0e-4eb0-bc2e-93a6a6a36e11",
      "name": "Feature Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "orchestrator-feature-intake"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst env = $env;\n\nfunction required(name) {\n  const value = env[name];\n  if (!value) throw new Error(`${name} is required`);\n  return value;\n}\n\nfunction trimSlash(value) {\n  return String(value || '').replace(/\\/$/, '');\n}\n\nfunction pathEncode(path) {\n  return path.split('/').map(encodeURIComponent).join('/');\n}\n\nfunction outputText(response) {\n  if (response.output_text) return response.output_text;\n  const chunks = [];\n  for (const output of response.output || []) {\n    for (const content of output.content || []) {\n      if (content.text) chunks.push(content.text);\n    }\n  }\n  return chunks.join('\\n').trim();\n}\n\nasync function requestJson(url, init) {\n  const response = await fetch(url, init);\n  const raw = await response.text();\n  const data = raw ? JSON.parse(raw) : {};\n  if (!response.ok) {\n    throw new Error(`${init.method || 'GET'} ${url} returned ${response.status}: ${raw.slice(0, 700)}`);\n  }\n  return data;\n}\n\nasync function postHub(path, body) {\n  const hubBase = trimSlash(required('ORCHESTRATOR_HUB_API_BASE_URL'));\n  return requestJson(`${hubBase}${path}`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': `Bearer ${required('ORCHESTRATOR_N8N_CALLBACK_TOKEN')}`\n    },\n    body: JSON.stringify(body)\n  });\n}\n\nasync function putGitHubFile(project, path, markdown, message) {\n  const token = required('GITHUB_TOKEN');\n  const url = `https://api.github.com/repos/${project.github_owner}/${project.github_repo}/contents/${pathEncode(path)}`;\n  const body = {\n    message,\n    branch: project.default_branch || 'main',\n    content: Buffer.from(markdown, 'utf8').toString('base64'),\n    committer: {\n      name: env.ORCHESTRATOR_GIT_AUTHOR_NAME || 'anton415-orchestrator',\n      email: env.ORCHESTRATOR_GIT_AUTHOR_EMAIL || 'orchestrator@anton415.local'\n    }\n  };\n  return requestJson(url, {\n    method: 'PUT',\n    headers: {\n      'Accept': 'application/vnd.github+json',\n      'Authorization': `Bearer ${token}`,\n      'X-GitHub-Api-Version': env.GITHUB_API_VERSION || '2026-03-10',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(body)\n  });\n}\n\nconst workflowId = input.workflow_id;\nconst project = input.project;\nconst feature = input.feature;\nif (!workflowId || !project || !feature) {\n  throw new Error('workflow_id, project, and feature are required');\n}\n\nconst prompt = `You are a senior systems analyst.\nGoal:\nConvert the feature idea into a clear specification.\nRules:\n- Do not design architecture.\n- Do not write implementation details.\n- Separate facts, assumptions, and open questions.\n- Keep the scope small.\n- Produce testable acceptance criteria.\n- Output Markdown only.\nFeature:\nTitle: ${feature.title}\nModule: ${feature.module || 'unknown'}\nProblem: ${feature.problem}\nRequired sections:\n# Problem\n# Context\n# User Story\n# Scope\n## In Scope\n## Out of Scope\n# Acceptance Criteria\n# Edge Cases\n# Risks\n# Open Questions\n# Definition of Done`;\n\nconst openaiResponse = await requestJson('https://api.openai.com/v1/responses', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${required('OPENAI_API_KEY')}`\n  },\n  body: JSON.stringify({\n    model: env.OPENAI_MODEL || 'gpt-5.2',\n    input: prompt,\n    max_output_tokens: 5000\n  })\n});\n\nconst specBody = outputText(openaiResponse);\nif (!specBody) throw new Error('OpenAI returned an empty spec');\n\nconst specMarkdown = `---\nfeature_id: \"${feature.id}\"\ntitle: \"${feature.title}\"\nmodule: \"${feature.module || ''}\"\nstatus: \"spec_review\"\ncreated_by: \"chatgpt\"\n---\n\n${specBody}\\n`;\nconst specPath = `docs/specs/${feature.id}.md`;\nconst githubResult = await putGitHubFile(project, specPath, specMarkdown, `docs(orchestrator): add spec for ${feature.id}`);\nconst githubUrl = githubResult.content?.html_url || null;\n\nawait postHub('/api/v1/orchestrator/n8n/artifacts', {\n  workflow_id: workflowId,\n  artifact_type: 'spec',\n  title: 'System specification',\n  github_url: githubUrl,\n  local_preview: specMarkdown,\n  created_by_agent: 'chatgpt'\n});\nawait postHub('/api/v1/orchestrator/n8n/events', {\n  workflow_id: workflowId,\n  source: 'n8n',\n  event_type: 'spec_generated',\n  message: 'ChatGPT generated system specification',\n  payload: {\n    artifact_type: 'spec',\n    github_url: githubUrl,\n    path: specPath\n  }\n});\n\nreturn [{ json: { workflow_id: workflowId, status: 'spec_review', spec_path: specPath, github_url: githubUrl } }];"
      },
      "id": "f455f100-22cf-4f21-8f64-f7e4256c6f08",
      "name": "Run Feature Intake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator-approval",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "b9677d4a-8709-4a1f-a61c-bb9513635df9",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        260
      ],
      "webhookId": "orchestrator-approval"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst env = $env;\n\nfunction required(name) {\n  const value = env[name];\n  if (!value) throw new Error(`${name} is required`);\n  return value;\n}\n\nfunction trimSlash(value) {\n  return String(value || '').replace(/\\/$/, '');\n}\n\nfunction pathEncode(path) {\n  return path.split('/').map(encodeURIComponent).join('/');\n}\n\nfunction artifact(type) {\n  return (input.artifacts || []).find((item) => item.type === type || item.artifact_type === type);\n}\n\nfunction artifactPreview(type) {\n  const found = artifact(type);\n  return found?.local_preview || found?.github_url || '';\n}\n\nfunction claudeText(response) {\n  return (response.content || []).filter((part) => part.type === 'text').map((part) => part.text).join('\\n').trim();\n}\n\nasync function requestJson(url, init) {\n  const response = await fetch(url, init);\n  const raw = await response.text();\n  const data = raw ? JSON.parse(raw) : {};\n  if (!response.ok) {\n    throw new Error(`${init.method || 'GET'} ${url} returned ${response.status}: ${raw.slice(0, 700)}`);\n  }\n  return data;\n}\n\nasync function postHub(path, body) {\n  const hubBase = trimSlash(required('ORCHESTRATOR_HUB_API_BASE_URL'));\n  return requestJson(`${hubBase}${path}`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': `Bearer ${required('ORCHESTRATOR_N8N_CALLBACK_TOKEN')}`\n    },\n    body: JSON.stringify(body)\n  });\n}\n\nasync function putGitHubFile(project, path, markdown, message) {\n  const token = required('GITHUB_TOKEN');\n  const url = `https://api.github.com/repos/${project.github_owner}/${project.github_repo}/contents/${pathEncode(path)}`;\n  const body = {\n    message,\n    branch: project.default_branch || 'main',\n    content: Buffer.from(markdown, 'utf8').toString('base64'),\n    committer: {\n      name: env.ORCHESTRATOR_GIT_AUTHOR_NAME || 'anton415-orchestrator',\n      email: env.ORCHESTRATOR_GIT_AUTHOR_EMAIL || 'orchestrator@anton415.local'\n    }\n  };\n  return requestJson(url, {\n    method: 'PUT',\n    headers: {\n      'Accept': 'application/vnd.github+json',\n      'Authorization': `Bearer ${token}`,\n      'X-GitHub-Api-Version': env.GITHUB_API_VERSION || '2026-03-10',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(body)\n  });\n}\n\nasync function createGitHubIssue(project, title, body) {\n  return requestJson(`https://api.github.com/repos/${project.github_owner}/${project.github_repo}/issues`, {\n    method: 'POST',\n    headers: {\n      'Accept': 'application/vnd.github+json',\n      'Authorization': `Bearer ${required('GITHUB_TOKEN')}`,\n      'X-GitHub-Api-Version': env.GITHUB_API_VERSION || '2026-03-10',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({ title, body })\n  });\n}\n\nconst workflowId = input.workflow_id;\nconst project = input.project;\nconst feature = input.feature;\nif (!workflowId || !project || !feature) {\n  throw new Error('workflow_id, project, and feature are required in approval payload');\n}\n\nconst approved = input.decision === 'approved' || input.decision === 'approved_anyway';\nif (!approved) {\n  await postHub('/api/v1/orchestrator/n8n/events', {\n    workflow_id: workflowId,\n    source: 'n8n',\n    event_type: 'approval_stopped',\n    message: `Approval webhook received ${input.decision} for ${input.step_key}; automation stopped`,\n    payload: { step_key: input.step_key, decision: input.decision, comment: input.comment || null }\n  });\n  return [{ json: { workflow_id: workflowId, status: 'stopped', decision: input.decision } }];\n}\n\nif (input.step_key === 'spec_approval') {\n  const specMarkdown = artifactPreview('spec');\n  if (!specMarkdown) throw new Error('spec artifact preview is required for architecture generation');\n\n  const architecturePrompt = `You are a senior software architect.\nGoal:\nConvert the approved specification into a practical architecture plan.\nRules:\n- Do not rewrite product requirements.\n- If the spec has problems, add Architecture Concerns.\n- Prefer small reversible changes.\n- Respect the project stack.\n- Avoid overengineering.\n- Include test plan and rollback plan.\n- Output Markdown only.\nApproved specification:\n${specMarkdown}\nProject stack:\nbackend: go\nfrontend: react\nruntime: docker\nrepo: ${project.github_owner}/${project.github_repo}\nRequired sections:\n# Architecture Summary\n# Affected Modules\n# Backend Changes\n# Frontend Changes\n# Database Changes\n# API Changes\n# Security / Privacy Considerations\n# Test Plan\n# Implementation Steps\n# Rollback Plan\n# Architecture Concerns\n# Open Questions`;\n\n  const claudeResponse = await requestJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': required('ANTHROPIC_API_KEY'),\n      'anthropic-version': '2023-06-01'\n    },\n    body: JSON.stringify({\n      model: env.ANTHROPIC_MODEL || 'claude-sonnet-4-5',\n      max_tokens: 5000,\n      messages: [{ role: 'user', content: architecturePrompt }]\n    })\n  });\n\n  const architectureBody = claudeText(claudeResponse);\n  if (!architectureBody) throw new Error('Anthropic returned an empty architecture plan');\n  const architectureMarkdown = `---\nfeature_id: \"${feature.id}\"\ntitle: \"${feature.title}\"\nmodule: \"${feature.module || ''}\"\nstatus: \"architecture_review\"\ncreated_by: \"claude\"\n---\n\n${architectureBody}\\n`;\n  const architecturePath = `docs/architecture/${feature.id}.md`;\n  const githubResult = await putGitHubFile(project, architecturePath, architectureMarkdown, `docs(orchestrator): add architecture for ${feature.id}`);\n  const githubUrl = githubResult.content?.html_url || null;\n\n  await postHub('/api/v1/orchestrator/n8n/artifacts', {\n    workflow_id: workflowId,\n    artifact_type: 'architecture',\n    title: 'Architecture plan',\n    github_url: githubUrl,\n    local_preview: architectureMarkdown,\n    created_by_agent: 'claude'\n  });\n  await postHub('/api/v1/orchestrator/n8n/events', {\n    workflow_id: workflowId,\n    source: 'n8n',\n    event_type: 'architecture_generated',\n    message: 'Claude generated architecture plan',\n    payload: {\n      artifact_type: 'architecture',\n      github_url: githubUrl,\n      path: architecturePath\n    }\n  });\n  return [{ json: { workflow_id: workflowId, status: 'architecture_review', architecture_path: architecturePath, github_url: githubUrl } }];\n}\n\nif (input.step_key === 'architecture_approval') {\n  const specMarkdown = artifactPreview('spec');\n  const architectureMarkdown = artifactPreview('architecture');\n  if (!architectureMarkdown) throw new Error('architecture artifact preview is required for Codex prompt generation');\n\n  const codexPrompt = `# Codex Implementation Task\n\nYou are implementing an approved feature.\n\nRepository:\n${project.github_owner}/${project.github_repo}\n\nFeature:\n${feature.title}\n\nInputs:\n- Spec artifact: ${artifact('spec')?.github_url || 'stored in Hub artifact preview'}\n- Architecture artifact: ${artifact('architecture')?.github_url || 'stored in Hub artifact preview'}\n\nRules:\n- Follow the approved architecture plan.\n- Make the smallest correct change.\n- Do not rewrite unrelated code.\n- Add or update tests.\n- Update docs if behavior changes.\n- Do not merge.\n- Open a PR.\n\nApproved specification:\n${specMarkdown || '(spec preview unavailable)'}\n\nApproved architecture:\n${architectureMarkdown}\n\nDeliverables:\n- implementation commits;\n- tests;\n- PR description;\n- notes about risks or blockers.\n`;\n\n  const issueBody = `## Status\nready_for_implementation\n\n## Project\n${project.github_owner}/${project.github_repo}\n\n## Artifacts\n- Spec: ${artifact('spec')?.github_url || 'stored in Hub'}\n- Architecture: ${artifact('architecture')?.github_url || 'stored in Hub'}\n\n## Approvals\n- Spec: approved via Hub\n- Architecture: approved via Hub\n\n## AI Roles\n- ChatGPT: system analysis\n- Claude: architecture\n- Codex: implementation\n\n## Workflow\nHub workflow id: ${workflowId}\n\n## Codex Prompt\n\n${codexPrompt}`;\n\n  const issue = await createGitHubIssue(project, `Feature: ${feature.title}`, issueBody);\n\n  await postHub('/api/v1/orchestrator/n8n/artifacts', {\n    workflow_id: workflowId,\n    artifact_type: 'codex_prompt',\n    title: 'Codex implementation prompt',\n    github_url: issue.html_url || null,\n    local_preview: codexPrompt,\n    created_by_agent: 'codex'\n  });\n  await postHub('/api/v1/orchestrator/n8n/status', {\n    workflow_id: workflowId,\n    status: 'ready_for_implementation',\n    github_issue_url: issue.html_url || null,\n    step_key: 'ready_for_implementation',\n    step_status: 'done'\n  });\n  await postHub('/api/v1/orchestrator/n8n/events', {\n    workflow_id: workflowId,\n    source: 'n8n',\n    event_type: 'ready_for_implementation',\n    message: 'Codex prompt generated and GitHub issue created',\n    payload: {\n      artifact_type: 'codex_prompt',\n      github_issue_url: issue.html_url || null,\n      issue_number: issue.number || null\n    }\n  });\n  return [{ json: { workflow_id: workflowId, status: 'ready_for_implementation', github_issue_url: issue.html_url || null } }];\n}\n\nawait postHub('/api/v1/orchestrator/n8n/events', {\n  workflow_id: workflowId,\n  source: 'n8n',\n  event_type: 'approval_ignored',\n  message: `Approval webhook ignored unsupported step ${input.step_key}`,\n  payload: { step_key: input.step_key, decision: input.decision }\n});\nreturn [{ json: { workflow_id: workflowId, status: 'ignored', step_key: input.step_key } }];"
      },
      "id": "858cc57f-b0fe-48e1-9711-5962561e609b",
      "name": "Run Approval Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Feature Intake Webhook": {
      "main": [
        [
          {
            "node": "Run Feature Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Run Approval Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95d3d1cb-b78d-4dc4-b72a-336346163b21",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "orchestrator-ai-feature-delivery-v0",
  "tags": []
}
